.button-container {
  display: none;
}

[data-marker="item"]:hover .button-container {
  position: absolute;
  display: flex;
  z-index: 10000;
  right: 0;
}

[class*='items-galleryItem']:hover .button-container {
  top: 0;
}

[class*='items-listItem']:hover .button-container {
  bottom: 0;
}

.custom-button {
  width: 30px;
  height: 30px;
  stroke: #fff;
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0)) drop-shadow(0px 0px 20px rgba(0, 0, 0, 1));
}

.custom-hr {
  border-color: #0af;
}

.custom-summary {
  cursor: pointer;
  user-select: none;
}

.hidden-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.custom-button.block:hover {
  stroke: rgb(243, 50, 50) !important;
}

.custom-button.unblock:hover {
  stroke: rgb(3, 245, 3) !important;
}

.sellerPageControlButton{
    margin-top: 8px;
}